.card {
  position: relative;
  border-radius: 5px;
  margin-bottom: 30px;
}

.card img {
  width: 100%;
  background-color: #034694;
}

.card .ctaButton {
  position: absolute;
  bottom: 25%;
  left: 50%;
  margin-left: -85px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 19px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 0;
  width: 172px;
}

.card .ctaButton:hover {
  background: #fff;
  color: #000000;
  cursor: pointer;
}
