.card {
  position: relative;
  border-radius: 5px;
  margin-bottom: 30px;
}

.card img {
  width: 100%;
  background-color: #034694;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.card:hover {
  transition: all 200ms ease-out;
}
.card:hover img {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
    transition: all 500ms ease-out;
}

.card .ctaButton {
  position: absolute;
  bottom: 25%;
  left: 50%;
  margin-left: -80px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 19px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px #000000;
  font-weight: 700;
  padding: 10px 0;
  width: 160px;
}

.card .ctaButton:hover {
  background: #fff;
  color: #000000;
  cursor: pointer;
  text-shadow: none;
}
